<!--Navbar Code-->
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid text-center">
        <h2>Result Management System</h2>
    </div>
</nav>
<!--Body-->
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-3">
                <div class="card-header">
                    <h3>Login As:</h3>
                </div>
                <div class="card-body">
                        <form>
                           <!--- <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">User Name</label>
                                <input name="name" type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                            </div>-->
                            <div class="container text-center">
                                <a class="btn btn-primary border-0" routerLink="../student-dashboard">Student</a>
                                &nbsp;&nbsp;
                                <a class="btn btn-primary border-0" routerLink="../teacher-dashboard">Teacher</a>
                            </div>
                        </form>
                </div>
            </div>



        </div>
    </div>
</div>